header.header 
  .container
    .header__logo 
      img(src="./img/logo-header.png", alt="")
    .header__container 
      .header__info 
        .header__info__description Turn your game crypto side
        .header__info__title Get weekly
          br
          |cashback 10%
        a(href="https://trueflip.io").header__info__link.trueflip-btn Join now
  .header__img 
    .header__img__item.header__img__dolphin
      img(src="./img/dolphin.png", alt="")
    .header__img__item.header__img__dash
      img(src="./img/dash.png", alt="")
      img(src="./img/dash_shadow.png", alt="").shadow
    .header__img__item.header__img__bitcoin 
      img(src="./img/bitcoin.png", alt="")
      img(src="./img/bitcoin_shadow.png", alt="").shadow
    .header__img__item.header__img__ethereum
      img(src="./img/ethereum.png", alt="")
      img(src="./img/ethereum_shadow.png", alt="").shadow
    .header__img__item.header__img__litecoin
      img(src="./img/litecoin.png", alt="")
      img(src="./img/litecoin_shadow.png", alt="").shadow
.benefit
  .container
    .benefit__container 
      .benefit__item 
        .benefit__img.lightning
          img(src="./img/lightning.png", alt="")
        .benefit__title Lightning
          br
          |cashout
        .benefit__description Easiest way to get access to Trueflip.io casino is to pay via cryptocurrency. Almost instant payments and cashouts make your game uninterrupted. There are no hidden terms or heavy applications, so you can immerse yourself into playing process.
      .benefit__item 
        .benefit__img.anonymous
          img(src="./img/anonymous.png", alt="")
        .benefit__title Anonymous
          br
          |crypto game
        .benefit__description Anonymous crypto game means one could open account, get bonuses and play with cryptocurrency absolutely anonymously. Either depositing and withdrawal don’t require any additional steps.
          p Additionally, for cryptocurrency game there is a lack of withdrawal limits.
a(href="https://trueflip.io").header__info__link.mob.trueflip-btn Join now
.providers 
  .container
    .providers__list 
      .providers__item 
        img(src="./img/providers/playngo.svg", alt="")
      .providers__item 
        img(src="./img/providers/evolution.svg", alt="")
      .providers__item 
        img(src="./img/providers/netent.svg", alt="")
      .providers__item 
        img(src="./img/providers/ygg.svg", alt="")
      .providers__item.pragmatic
        img(src="./img/providers/pragmatic.svg", alt="")
      .providers__item 
        img(src="./img/providers/quick.svg", alt="")
.crypto
  .container
    .crypto__list 
      .crypto__item 
        img(src="./img/crypto/bitcoin.svg", alt="")
      .crypto__item 
        img(src="./img/crypto/litecoin.svg", alt="")
      .crypto__item 
        img(src="./img/crypto/tether.svg", alt="")
      .crypto__item 
        img(src="./img/crypto/ripple.svg", alt="")
      .crypto__item 
        img(src="./img/crypto/cardano.svg", alt="")
      .crypto__item 
        img(src="./img/crypto/tron.svg", alt="")


script(type='text/javascript').
    function getQTag() {
      urlParam = function (name) {
          var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (results == null) {
            return null;
          }else {
            return decodeURI(results[1]) || 0;
          }
      }
          var qtag = urlParam('stag');
          return qtag ? '?stag=' + qtag : ''
    }
    var links = document.querySelectorAll('.trueflip-btn')
    for (var i = 0; i < links.length; i++) {
      console.log('links[i].href:', links[i].href)
        //- links[i].href = 'https://trueflip.io' + getQTag()
        //- links[i].href = 'https://trackingtrueflip.com/d8c341079?clickid={clickid}'
        //- links[i].href = `https://trackingtrueflip.com/d8c341079?clickid={clickid}&url=${window.location.href}`
        //- links[i].href = `${window.location.href}d8c341079?clickid={clickid}`
        //- links[i].href = 'https://trueflip.io' + `?stag=4653_61c345553bc815ee2f0f0a1e&url=${window.location.href}`
        //- links[i].href = `${window.location.href}stag=12067_606d93b21b441dc70007fd5b`
        //- links[i].href = window.location.href + '?stag=12067_606d93b21b441dc70007fd5b'
        links[i].href = `${links[i].href}?stag=12067_606d93b21b441dc70007fd5b`
    }